.thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  top: 0;
  width: fit-content;
}

.tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.dayOfTheWeek {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
