.description {
  padding: 4px 62px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.themes {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.cell {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  outline: 1px solid #1b1f230f;
}
