table {
  min-width: max-content;
  margin: 0;
  padding: 0;
  display: table;
  border-spacing: 3px;
  border-color: gray;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
