.container {
  width: fit-content;
}

.calendar {
  padding-top: 1.618em;
  max-width: 100%;
}

table {
  min-width: max-content;
  margin: 0;
  padding: 0;
  display: table;
  border-spacing: 3px;
  border-color: gray;
  overflow-y: hidden;
  overflow-x: auto;
}
