:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-bg-level-0: #ebedf0;
  --color-bg-level-1: #9be9a8;
  --color-bg-level-2: #40c463;
  --color-bg-level-3: #30a14e;
  --color-bg-level-4: #216e39;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex !important;
  text-align: center !important;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
